---
title: Syntax Basics
toc: true
---

## Introduction

We'll take a look here at some of the fundamental aspects of the Python syntax.
Our aim is not to be exhaustive and replicate the whole [python official documentation](https://docs.python.org/3/), but rather to get down the basics that will allow us to start writing simple programs and building from there as we go.  
Also: It is fine not to remember everything after the first read, we rather want to get familiar with the language and some of the common idioms â€“ just go with the flow :)

## Basic types and data structures

We have numbers:

In [1]:
1 + 2

3

In [2]:
type(1), type(2)

(int, int)

In [3]:
type(1 + 2)

int

As we see, adding two integers results in an integer.
We can also represent non-integer numbers as floats:

In [4]:
1.2 + 1.3

2.5

In [5]:
type(1.2 + 2.3)

float

Also notice:

In [6]:
type(1)

int

In [7]:
type(1.0)

float

In [8]:
type(1.)

float

Also, these three numbers evaluate to equal, as we can check using the equality operator:

In [9]:
1 == 1. == 1.0

True

If we add an `int` to a `float`, we get:

In [10]:
type(1 + 1.)

float

Python also has strings:

In [11]:
type("Hi there")

str

In [12]:
"Hi there" == 'Hi there'  # Notice both " and ' can be used

True

Strings are very powerful and have many "methods" associated with them that facilitates manipulating them.
For example:

In [13]:
"HELLO World".lower()

'hello world'

In [14]:
"HELLO World".startswith("he")

False

In [15]:
"HELLO World".lower().startswith("he")

True

In [16]:
"HELLO World".endswith("d")

True

There are many more methods defined. 
Whenever you're trying to do some operation over a string consider checking first if the method is already there.
You can inspect the methods like so:

We can format strings using a handy language construct: `f-strings`.
`f-strings` allow us to easily format our strings in a dynamical fashion, even executing code inside them. 
For example:

In [17]:
f"Hello world, I think {1 + 1} = 2"

'Hello world, I think 2 = 2'

In [18]:
f"I think {'THIS INNER SHOUTING STRING'.lower()} should be lower"

'I think this inner shouting string should be lower'

Notice that we alternated " and '.

We'll see more examples of `f-strings` later on, as they are a super handy tool adding a lot of expresivity to the language.

## Variables
We can store and use variables:

In [19]:
first_name = "Nik"
last_name = "Mamba"
age = 23

For example, to format a string:

In [20]:
f"name is {first_name}, the last name {last_name}. Their age={age}"

'name is Nik, the last name Mamba. Their age=23'

Or with this handy f-string substitution:

In [21]:
f"{first_name=}, {last_name=}. Their {age=}"

"first_name='Nik', last_name='Mamba'. Their age=23"

::: {.callout-warning}
We need to be careful with the behaviour of variables depending on their type.
We will get back to that in a few paragraphs after we talk about mutability.
:::

## Lists
We can store elements in different kinds of containers.

`list` is the most common of them.
We can store basically anything in them, including repetitions of the same element:

In [22]:
short = ["having fun", 123]
type(short)

list

In [23]:
mixed = ["hello", 1, 2., short, short]
mixed

['hello', 1, 2.0, ['having fun', 123], ['having fun', 123]]

We can access the elements of the list via their indices (starting at 0)

In [24]:
mixed[0], mixed[-1]  # Notice -1: refers to the last element

('hello', ['having fun', 123])

We can take parts of that list, a so-called slice, by indicating a slice of indexes.
The slice has the syntax (`start`, `stop`, [`step`]), the `step` is optional and can be negative.
The slice is inclusive on the left and exclusive on the right:

In [11]:
numbers = [1, 2, 3, 4, 5, 6]
numbers[1: -1]  # Start from second until last (not including it)

[2, 3, 4, 5]

Importantly, we can modify a list:

In [27]:
mixed

['hello', 1, 2.0, ['having fun', 123], ['having fun', 123]]

In [28]:
mixed[0] = 100
mixed

[100, 1, 2.0, ['having fun', 123], ['having fun', 123]]

You should think of lists as a sequence of *references* to other elements (objects).
Here's a practical example:

In [29]:
short = ["python", 1, 2]
long = [1, 2, 3, 4, 5, short, short]

In [30]:
short[1] = "is"
short[2] = "fun"

In [31]:
short

['python', 'is', 'fun']

In [32]:
long

[1, 2, 3, 4, 5, ['python', 'is', 'fun'], ['python', 'is', 'fun']]

Since `long` is simply holding a reference to `short`, if we modify `short`, we'll see that change propagate to `long`.

We can add elements to a list using the `.append` method:

In [33]:
result = [1, 2]
result.append("hello again")
result

[1, 2, 'hello again']

Removing elements is also possible:

In [34]:
result.remove?

Signature: result.remove(value, /)
Docstring:
Remove first occurrence of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

In [35]:
result.remove(1)

In [36]:
result

[2, 'hello again']

In [37]:
result.remove(1)

ValueError: list.remove(x): x not in list

::: {.callout-note}
**Mutability**  
In Python some types can be modified (thus we say there are *mutable*), for example `list`.
Others can't be modified after creating them, thus *immutable*, for example `tuple`.
:::

::: {.callout-tip}
Explore the buil-int methods associated to list, there are handy ones, like `.sort`
:::

::: {.callout-note}
Names and Variables can be a bit tricky in Python.
If you are interested in some more details about the inner workings, I recommend [this talk](https://www.youtube.com/watch?v=_AEJHKGk9ns)
:::

## Tuples
Similar to `list` but *immutable*, which gives them some performance advantages (that you rarely care about).
In practice, rather than because of performance, you should prefer them over lists when care about the mutability (see example below).

In [38]:
sports = ("tennis", "football", "handball")

In [39]:
sports[:2]  # Indexing also works here

('tennis', 'football')

In [40]:
sports[0] = "not gonna work"

TypeError: 'tuple' object does not support item assignment

Sometimes we are forced to use immutable data structures, for example as dictionary keys.
That's a perfect use case for tuples too:

In [4]:
mutable_key = [1,2,3]
immutable_key = (1,2,3)

In [5]:
{mutable_key: "not gonna work"}  # Try to build a dictionary

TypeError: unhashable type: 'list'

In [7]:
d = {immutable_key: "that looks better"}

And we can retrieve that value as per usual:

In [9]:
d[(1,2,3)]

'that looks better'

In [10]:
d[1,2,3]  # optionally without parenthesis

'that looks better'

In a subsquent chapter we will cover a more useful variation of `tuple`, the `NamedTuple`.

## Sets
Sets will guarantee at most 1 occurrence of each element, so it's ideal to maintain a container with unique elements.

In [41]:
unique_numbers = {1, 2, 2, 2, 2, 2, 2, 3}
unique_numbers

{1, 2, 3}

In [42]:
unique_numbers.add(4)
unique_numbers

{1, 2, 3, 4}

In [43]:
unique_numbers.add(2)
unique_numbers

{1, 2, 3, 4}

::: {.callout-warning}
Sets don't preserve insertion order!
:::

In [44]:
{"hello", "world", 1,2, "ciao", 4}

{1, 2, 4, 'ciao', 'hello', 'world'}

Sets are also much faster for lookups than lists and tuples.
Let's look at an example:

In [45]:
numbers_list = list(range(100_000_000))
numbers_tuple = tuple(range(100_000_000))
numbers_set = set(range(100_000_000))

In [46]:
%%time
500_000_000 in numbers_list

CPU times: user 739 ms, sys: 158 Âµs, total: 739 ms
Wall time: 735 ms

False

In [47]:
%%time
500_000_000 in numbers_tuple

CPU times: user 712 ms, sys: 0 ns, total: 712 ms
Wall time: 709 ms

False

In [48]:
%%time
500_000_000 in numbers_set

CPU times: user 3 Âµs, sys: 0 ns, total: 3 Âµs
Wall time: 7.63 Âµs

False

## Dictionaries
A dictionary is a mapping from `keys` to `values`.
They keys are unique.
The values can be anything.

In [4]:
word2num = {
    "learning": 1,
    "python": 2,
    "is": 3,
    "fun": 4
}
word2num

{'learning': 1, 'python': 2, 'is': 3, 'fun': 4}

We can access them:

In [5]:
word2num["is"]

3

In [6]:
word2vec = {
    "python": [1,2,3],
    "tennis": [4,5,6]
}
word2vec

{'python': [1, 2, 3], 'tennis': [4, 5, 6]}

In [7]:
nested = {
    "first": {
        "one": 1,
        "two": 2,
    },
    "second": {
        "three": 3,
        "four": 4,
    },
}
nested

{'first': {'one': 1, 'two': 2}, 'second': {'three': 3, 'four': 4}}

In [8]:
nested["second"]["four"]

4

It's important to keep in mind that dictionaries consist of *items* that are key-value pairs.
That means we can build them *from* those paired items:

In [9]:
items = [
    ("one", 1),
    ("two", 2),
    ("three", 3),
]
items

[('one', 1), ('two', 2), ('three', 3)]

In [10]:
pairs = dict(items)
pairs, type(pairs)

({'one': 1, 'two': 2, 'three': 3}, dict)

We often want to iterate through the elements of a dictionary:

In [11]:
for key in pairs:
    print(key)

one
two
three

In [12]:
for key in pairs.keys():
    print(key)

one
two
three

In [13]:
for val in pairs.values():
    print(val)

1
2
3

In [14]:
for item in pairs.items():
    print(item)

('one', 1)
('two', 2)
('three', 3)

In [15]:
keys = pairs.keys()
keys

dict_keys(['one', 'two', 'three'])

In [16]:
vals = pairs.values()
vals

dict_values([1, 2, 3])

We can combine two collections, for example two lists, with the `zip` function.
`zip` interleaves elements and stops as soon as the *shortest* collection is consumed:

In [17]:
dict(zip(keys, vals))

{'one': 1, 'two': 2, 'three': 3}

The inverse operation to `zip` can be done by unpacking (with `*`) the arguments like this:

In [24]:
list(zip(*zip(keys, vals)))

[('one', 'two', 'three'), (1, 2, 3)]

In Python we can "unpack" sequences directly during assignment:

In [63]:
seq = [1,2]

In [64]:
first, second = seq

In [65]:
first, second

(1, 2)

In [66]:
seq = (1, 2, 3, 4)

In [67]:
first, *rest = seq
first, rest

(1, [2, 3, 4])

In [68]:
first, *middle, last = seq
first, middle, last

(1, [2, 3], 4)

We can iterate and *unpack* the items of a dictionary on the fly:

In [69]:
for key, val in pairs.items():
    print(f"{key} -> {val}")

one -> 1
two -> 2
three -> 3

We can modify a dictionary, by updating an item or items:

In [70]:
pairs

{'one': 1, 'two': 2, 'three': 3}

In [71]:
pairs.update({"one": 111})
pairs

{'one': 111, 'two': 2, 'three': 3}

In [72]:
pairs["four"] = 4
pairs

{'one': 111, 'two': 2, 'three': 3, 'four': 4}

## Exercises
1) Create variables for the name of your favorite book and its author. Use an f-string to print a sentence that says, "My favorite book is [book] by [author]."
2) Repeat it, but the book and author should be CAPITAL CASE.
3) Repeat it, but the author and book should be each one a single word connected by hyphens, eg: "Charles Darwin" -> "charles-darwin".
4) Create a list of your 3 favorite books. Print the length of the list.
5) Create a list of your 3 favorite sports.
6) Concatenate the two previous lists and print the result.
7) Print the last 2 elements of the concatenated list.
8) Print the third element of the list with its characters in reversed order.
9) Create a tuple containing 5 different cities. Print the first and last city from the tuple.
10) Create a tuple of numbers and use slicing to print the middle three numbers.
11) Create a dictionary with your favorite fruits as keys and their colors as values. Print the color of a specific fruit.
12) Create a dictionary with countries as keys and their capitals as values. Print the keys and values separately.
13) Invert the items of the dictionary, making the keys the values and vice versa.
14) Create a set of your 3 favorite animals. Check if a specific animal is in the set.
15) Create two sets of your favorite sports and find the difference between them.