---
title: Common Data Formats
toc: true
---

## CSV
[Comma Separated Values](https://en.wikipedia.org/wiki/Comma-separated_values)

In [1]:
#| code-fold: true

data = """\
date,id,age
2020-01-01,x12,19
2020-01-02,x11,23
2020-01-02,x3,22
2020-01-03,x19,28
"""
print(data)

date,id,age
2020-01-01,x12,19
2020-01-02,x11,23
2020-01-02,x3,22
2020-01-03,x19,28

In [2]:
#| code-fold: true
#| output: false
from pathlib import Path
filepath = "/tmp/data.csv"
Path(filepath).write_text(data)

83

Loading data into a dataframe is not the only but one the most common ways to to load this data:

In [3]:
import pandas as pd

df = pd.read_csv(filepath)
df

         date   id  age
0  2020-01-01  x12   19
1  2020-01-02  x11   23
2  2020-01-02   x3   22
3  2020-01-03  x19   28

We can also save a dataframe as csv:

In [4]:
df.to_csv("/tmp/data.csv", index=None)

In [36]:
!cat /tmp/data.csv

date,id,age
2020-01-01,x12,19
2020-01-02,x11,23
2020-01-02,x3,22
2020-01-03,x19,28

## Excel
We can also read in data coming from an excel spreadsheet.

In [19]:
df.to_excel("/tmp/data.xlsx", index=None)

In [20]:
pd.read_excel("/tmp/data.xlsx")

         date   id  age
0  2020-01-01  x12   19
1  2020-01-02  x11   23
2  2020-01-02   x3   22
3  2020-01-03  x19   28

## JSON
[JSON (JavaScript Object Notation)](https://en.wikipedia.org/wiki/JSON) is by far one of the most used data formats, nowadays the default format to transfer data over the internet.
It is also very commonly used for configuration files and logging.

In [16]:
flat = {
  "name": "John Doe",
  "age": 25
}

nested = {
  "name": {
    "firstName": "John",
    "lastName": "Doe",
    "middleName": "Smith"
  },
  "age": 25,
  "hobbies": ["reading", "writing"]
}

### Encoding

Also called "serialization".

In [17]:
import json

flat_str = json.dumps(flat)
flat_str

'{"name": "John Doe", "age": 25}'

In [18]:
nested_str = json.dumps(nested)
nested_str

'{"name": {"firstName": "John", "lastName": "Doe", "middleName": "Smith"}, "age": 25, "hobbies": ["reading", "writing"]}'

In [7]:
arr_str = json.dumps(arr)
arr_str

'{"name": "John Doe", "age": 25, "hobbies": ["reading", "writing"]}'

In [19]:
#| output: false

Path("/tmp/flat.json").write_text(flat_str)
Path("/tmp/nested.json").write_text(nested_str)

119

### Decoding

Also called "deserialization".

In [20]:
json.load(
    Path("/tmp/flat.json").open()
)

{'name': 'John Doe', 'age': 25}

In [21]:
json.loads(
    Path("/tmp/flat.json").read_text()
)

{'name': 'John Doe', 'age': 25}

In [22]:
json.load(
    Path("/tmp/nested.json").open()
)

{'name': {'firstName': 'John', 'lastName': 'Doe', 'middleName': 'Smith'},
 'age': 25,
 'hobbies': ['reading', 'writing']}

In [23]:
json.loads(
    Path("/tmp/nested.json").read_text()
)

{'name': {'firstName': 'John', 'lastName': 'Doe', 'middleName': 'Smith'},
 'age': 25,
 'hobbies': ['reading', 'writing']}

Notice we load the data into a python dictionary:

In [24]:
out = json.loads(
    Path("/tmp/nested.json").read_text()
)
type(out)

dict

We can also store a list as JSON array:

In [28]:
#| output: false

Path("/tmp/arr.json").write_text(
    json.dumps([
        {"a": 1},
        {"b": 2},
    ])
)

20

In [31]:
out = json.load(Path("/tmp/arr.json").open())
print(type(out))
out

<class 'list'>

[{'a': 1}, {'b': 2}]

## Parquet
[Parquet](https://en.wikipedia.org/wiki/Apache_Parquet) is a column oriented format.
For a number of reasons, this format is much more efficient than `csv` and other formats.

In [37]:
df

         date   id  age
0  2020-01-01  x12   19
1  2020-01-02  x11   23
2  2020-01-02   x3   22
3  2020-01-03  x19   28

With `pandas` we can save data to a parquet file:

In [41]:
df.to_parquet("/tmp/data.parquet")

And read in:

In [42]:
pd.read_parquet("/tmp/data.parquet")

         date   id  age
0  2020-01-01  x12   19
1  2020-01-02  x11   23
2  2020-01-02   x3   22
3  2020-01-03  x19   28

::: {.callout-tip}
Prefer `parquet` format when possible. It is faster to read and it stores metadata that can be used by libraries for optimization, for example, applying some filters.
:::